@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10708 Nashville Dr<br />
    Frisco, TX 750359<br />
    <abbr title="Phone">P:</abbr>
    817.881.5583
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:eric.cleveland9@live.com">eric.cleveland9@live.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>