@{
    ViewBag.Title = "Auction Portal";
}

<div>
    <h1>Auction Portal</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Manage Guests", "Index", "Guests")</li>
            <li>@Html.ActionLink("Manage Items", "Index", "Items")</li>
        </ul>
    </div>
</div>