@{
    ViewBag.Title = "Auction Portal";
}

<div>
    <h1>Auction Portal</h1>
    <hr />
    <div>
        @Html.ActionLink("Check-in", "Index", "Guests", "", new { @class = "btn btn-primary"})
        <hr />
        @Html.ActionLink("Settle Items", "SettleItems", "Items", "", new { @class = "btn btn-primary" })
        <hr />
        @Html.ActionLink("Checkout", "CheckoutGuests", "Checkout", "", new { @class = "btn btn-primary" })
    </div>
</div>